#show-rating-2x {
  background-color: #f4f4f4;
  height: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

}

#messages-bordered-a {
  border-radius: 6px;
  background: #f4f4f4;
  height: 100%;
  box-shadow:  7px 7px 14px #d2d2d2,
                 -7px -7px 14px #ffffff;
  padding: 10px;
  vertical-align: middle;
}

.btn-a, #upload-button {
  border-radius: 6px;
  background: #f4f4f4;
  height: 100%;
  box-shadow:  1px 1px 14px #d2d2d2,
                 -7px -7px 14px #ffffff;
  padding: 10px;
  width: 80%;
  vertical-align: middle;
  color: #2B5D6C;
}

#messages-bordered-b {
  border-radius: 6px;
  background: #f4f4f4;
  height: 100%;
  box-shadow:  1px 1px 14px #d2d2d2,
                 -7px -7px 14px #ffffff;
  padding: 10px;
  vertical-align: middle;
}

.align-middle{
  vertical-align: middle;
}

.blue-plus {
  color: #2B5D6C;
}
