.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 0px;
  left: 0 px;
}

#profilevisits {
  background-color: #FF8882;
}

.fa-user-circle {
  color: #FF8882;
}

#profile-top {
  text-align: center;
}

#profile-top a {
  color: black;
}

#welcome h5 {
  color: azure;
  background-color: #FF8882;
  padding: 3px 10px 3px 10px;
}

.dashboard-item {
  list-style-type: none;
  border: 2px;
  background: white;
  margin: 0px;
  width: 100%;
  padding: 5px;
}
