// Specific CSS for your home-page
#background_home {
  background-color: #2B5D6C;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 320px;
    padding: 120px 0;
    // margin-bottom: 130px;
  }

  #home-card {
    // position: absolute;
    margin-top: -30px;
    padding: 10px 15px 10px 15px;
    height: 210px;
  }

  .card {
    padding: 20px;
    background: rgb(245, 244, 244);
  }

  .card-t {
    padding: 20px;
    background: rgb(245, 244, 244);
  }

  #about-txt {
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #about-txt-a {
    margin: 0 25px 0 25px;
    padding-top: 15px;
    padding-bottom: 1px;
  }

  .text-white {
    color: rgb(245, 244, 244);
    // letter-spacing: 3px;
    font-weight: normal;
    font-size: large;
  }

  #map-title {
   color: white;
   margin-bottom: 20px;
   padding-left: 5px;
  }

  #parent-home {
    position: relative;
  }

  // #child-home {
  //   position: absolute;
  //   margin-top: 65px;
  // }

  .card-title {
    color: $blue;
  }