// Specific CSS for your home-page
#background_home {
  background-color: #2B5D6C;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 150px;
    padding: 120px 0;
    margin-bottom: 130px;
  }

  .cover-card {
    min-height: 200px;
  }

  .card {
    padding: 20px;
  }

  #about-txt {
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #map-title {
   color: white;
   margin-bottom: 20px;
   padding-left: 5px;
  }
