.parent {
  position: relative;
}

.child {
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin: 0px 20px;
  height: 150px;
  top: 290px;
  left: 0px;
  background-color: white;
}

.parent2 {
  position: absolute;
  top: 450px;
  left: 0px;
}
