.parent-show {
  position: relative;
}

.child-show {
  position: absolute;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0px 0px;
  // height: 140px;
  left: 20px;
  width: 90%;
  top: 300px;
  background-color: white;
}

#weather {
  font-size: 13px;
  color: darkgrey;
}

#show-flex {
  background-color: white;
}

#show-rating {
  width: 100%;
  padding: 2px 2px;
  vertical-align: center;
}

#show-bucket {
  text-align: right;
  padding: 2px 2px;
}

.parent-show-2 {
  position: absolute;
  padding: 5px 5px;
  width: 90%;
  top: 480px;
  left: 22px;
}
