<nav class="tabbar">
    <ul>
        <li>
           <%= link_to root_path do %>
                <div>
                    <span>
                        <svg>
                            <i class="fas fa-home"></i>
                        </svg>
                    </span>
                    <span>
                        <svg>
                            <i class="fas fa-home"></i>
                        </svg>
                    </span>
                </div>
                <strong>Home</strong>
            <% end %>
        </li>
        <li>
            <a>
                <div>
                    <span>
                        <svg>
                           <i class="far fa-star"></i>
                        </svg>
                    </span>
                    <span>
                        <svg>
                           <i class="far fa-star"></i>
                        </svg>
                    </span>
                </div>
                <strong>Favs</strong>
            </a>
        </li>
        <li>
            <%= link_to places_path do %>
                <div>
                    <span>
                        <svg>
                            <i class="fas fa-search"></i>
                        </svg>
                    </span>
                    <span>
                        <svg>
                            <i class="fas fa-search"></i>
                        </svg>
                    </span>
                </div>
                <strong>Search</strong>
            <% end %>
        </li>
        <li>
            <a>
                <div>
                    <span>
                        <svg>
                            <i class="far fa-user"></i>
                        </svg>
                    </span>
                    <span>
                        <svg>
                           <i class="far fa-user"></i>
                        </svg>
                    </span>
                </div>
                <strong>Profile</strong>
            </a>
        </li>
    </ul>
</nav>
            
