<div class="container p-4 mt-1">
  <form method="post" data-form-title="CONTACT US">
  <input type="text" data-form-email="true">
  <h3>Contact<strong> Equ</strong>Spot</h3>
  <br>
  <div class="form-group">
    <input class="form-control" name="first_name" id="messages-bordered-a" placeholder="First Name" data-form-field="first_name">
  </div>
  <div class="form-group">
    <input class="form-control" name="last_name" id="messages-bordered-a" placeholder="Last name" data-form-field="last_name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="messages-bordered-a" name="email" required="" placeholder="E-Mail *" data-form-field="Email">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="message" id="messages-bordered-a" required="" placeholder="Message *" rows="7" data-form-field="Message"></textarea>
  </div>
  <div class="p-1">
    <button type="submit"  class="btn btn-outline-danger w-100" id="messages-bordered-a">SEND</button>
  </div>
</div>

