<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('<%= image_path 'sports_img.jpg', crop: :fill %>');">
  <div class="container"> 
      <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><strong>Equ</strong>Spot</h5>
            <p class="card-text mt-3">Find all the free outdoor activities available near you.</p>
            <%= link_to "Search by sport category", places_path, class: "button btn btn-primary mt-1 w-100" %>
        </div>
      </div>
  </div>
</div>

<div class= "container">
  <div id="about-txt">
    <p>On EquSpot, you can find all the free outdoor activities available near you. 
    You can select one particular sport or activity and search or 
    just explore through the map.</p>
    <h5> Browse</h5>
  </div>

  <div id="background_home">
  </div>
  
  <div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="mt-2">
  </div>
</div>
