// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";

#background_index {
    background-color: #2B5D6C; 
}

input[type=text] {
    background-color: #F4F4F4;
    color: #488496;
    border: none;
    border-radius: 4px;
    padding-left: 5px;
    width: 100%;
}

#sport_id {
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
  color: #488496;
  border: none;
}

#new-place-btn {
  margin-top: 15px;
  text-align: right;
}

.fa-plus-square {
  color: rgb(245, 244, 244);
  text-shadow: 3px 3px 3px rgba(0,0,0,.2)
}
