  .card-trip {
    overflow: hidden;
    background: rgb(245, 244, 244);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
  }

  .card-trip > img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    // opacity: 80%;
    // filter: grayscale(100%) contrast(120%);
    // filter: sepia(30%);
    padding: 8px;
    border-radius: 4px;
    filter: contrast(150%) brightness(100%) sepia(40%);
  }

  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-trip p {
    font-size: 13px;
    opacity: .7;
    margin: 0;
    margin-top: 5px;
  }


  .card-trip .card-trip-infos {
    padding: 10px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }


.fa-trash-alt {
  color: #2B5D6C;
}
