// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";

#background_index {
    background-color: #2B5D6C;
}

input[type=text] {
    background-color: #F4F4F4;
    color: #488496;
    border: none;
    border-radius: 4px;
    padding-left: 5px;
    width: 100%;
}

.input-extra {
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
    color: black !important;
}

#sport_id {
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
  color: #488496;
  border: none;
}

#new-place-btn {
  margin-top: 15px;
  text-align: right;
}

.fa-plus {
  color: rgb(245, 244, 244);
  text-shadow: 1px 1px 1px rgba(0,0,0,.1)
}

#place-address-card {
  color: rgb(69, 69, 69);
}

.border-radius-index {
  border-radius: 3px;
}

#index-show-btn {
  border-radius: 10px;
  background: #2B5D6C;
  box-shadow:  9px 9px 19px #1f444f,
             -9px -9px 19px #377689;
}

#index-show-btn2 {
  border-radius: 10px;
  background: #2B5D6C;
  box-shadow:  5px 5px 4px #265360,
             -5px -5px 4px #306778;
}