.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

#map {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 4px;
}
.mapbox-logo{ display: none; } .mapboxgl-ctrl-logo { display: none !important; } .mapbox-improve-map { display: none; } .mapboxgl-ctrl-compass { display: none; }